body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem; 
}

nav {
    background-color: #000000;
    color: #FFFFFF;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 0.3125rem;
}

nav ul li a {
    display: block;
    padding: 0.9375rem 1.25rem;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    font-weight: 800;
}

nav ul li a:hover {
    background-color: #333333;
    color: #FFFFFF;
    text-decoration: underline;
}

section {
    max-width: 50rem;
    margin-top: 0.625rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.25rem;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    color: #FFFFFF;
    background-color: #000000;
    padding: 0.625rem 1.25rem;
    display: inline-block;
    border-radius: 0;
    text-align: center;
    font-size: 1.625rem;
    margin-top: 0.625rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

h2 {
    margin-top: 0.625rem;
    margin-right: 0;
    margin-bottom: 0.3125rem;
    margin-left: 0;
}

p {
    line-height: 1.6;
    text-align: justify;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1.25rem;
    margin-left: 0;
}

section ul {
    margin-left: 1.25rem;
    margin-bottom: 1.25rem;
}

section ul li {
    margin: 0 0 0.3125rem 0; 
}

img {
    max-width: 73.5%;
    height: auto;
    display: block;
    border: 0.125rem solid #000000;
    border-radius: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

video {
    max-width: 73.5%;
    width: 35rem;
    height: auto;
    display: block;
    border: 0.125rem solid #000000;
    border-radius: 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 0;
    background-color: #f9f9f9;
    color: #000000;
}

section nav {
    background-color: transparent;
    color: #000000;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0.3125rem;
    width: auto;
}

section nav ul {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

section nav ul li {
    display: inline-block;
    color: #555555;
    background-color: transparent;
    font-size: 0.875rem;
}

section nav ul li a {
    background-color: transparent;
    color: #000000;
    padding: 0;
    font-weight: normal;
    display: inline;
}

section nav ul li a:hover {
    background-color: transparent;
    text-decoration: none;
    color: #666666;
    cursor: pointer;
}

section nav ul li::after {
    content: " > ";
    margin: 0 0.3125rem;
    color: #999;
    background-color: transparent; 
}

section nav ul li:last-child::after {
    content: "";
}

section a:active {
    color: #FF0000;
    background-color: transparent;
}

section a:focus {
    outline: 0.125rem dashed #000000;
    background-color: #FFFFCC;
    color: #000000;
}

time {
    position: absolute;
    right: 1.25rem;
    top: 4.0625rem;
    color: #000000;
    font-size: 0.75rem;
    font-family: sans-serif;
    font-weight: normal;
    background-color: transparent;
    padding: 0;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.lang-flag img {
    width: 2.5rem;
    height: auto;
    border-radius: 0;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: none;
}

form[name="buscador"] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3125rem 0;
    margin: 0;
}

form[name="buscador"] input[name="search"] {
    padding: 0.375rem 0.625rem;
    font-size: 0.875rem;
    border: 0.0625rem solid #000;
    width: 11.25rem;
    outline: none;
}

form[name="buscador"] input[name="search"]:focus {
    outline: 0.125rem solid #000;
    box-shadow: none;
}

form[name="buscador"] button {
    padding: 0.375rem 0.75rem;
    background-color: #000;
    color: #fff;
    border: 0.0625rem solid #000;
    cursor: pointer;
    margin-bottom: 0;
}

form[name="buscador"] button:hover {
    background-color: #333;
    color: #fff;
}

form[name="buscador"] button:focus {
    outline: 0.125rem solid #000;
    box-shadow: none;
}

.visually-hidden {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    margin: -0.0625rem;
    overflow: hidden;
    white-space: nowrap;
}

form + section {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    box-sizing: border-box;
    font-family: inherit;
    background-color: transparent;
    color: #000000;
}

button {
    margin-bottom: 0px;
}

label {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    border: 0;
}
